table{
    border: 1px solid black;
    border-collapse: collapse;
}
th{
    border: 1px dashed black; color:black; background-color:violet;
}

tr{
    border: 1px solid black; color: blueviolet;
}

td{
    border: 1px solid black; color: blueviolet;
}

